<div class='container'>
  <h1>Wildlife Tracker</h1>

  <h3>All Species</h3>
  <dl>
    <% @species.sort.each do |species| %>
      <dt>
        <form action="/species/<%= species.id %>/delete/" method="post">
          <input name="_method" type="hidden" value="delete">
          <button class="btn btn-danger btn-xs">-</button>
          <a href="/species/<%= species.id %>/edit/" class="btn btn-warning btn-xs">e</a>
        <%= species.name%>
        </form>
      </dt>
    <% end %>
  </dl>

<form class="form-inline" action="/species/<%= @edit_species.id %>/edit/" method="post">
  <label for="task_name"></label>
  <input class="form-control" id="species_name" name="new_name" value="<%= @edit_species.name %>" type="text">
  <button class='btn btn-warning'>e</button>
</form>

</div>

