<div class='container'>
  <h1><a href="/species">Wildlife Tracker</a></h1>
  <hr>
    <h2>
    <form action="/species/<%= @species.id %>" method="post">
      <%= @species.name %>
      <input name="_method" type="hidden" value="delete">
      <button class="btn btn-danger btn-xs">delete</button>
      <a href="/species/<%= @species.id %>/edit/" class="btn btn-warning btn-xs">edit</a>
    </form>
    </h2>
  <div class='col-md-6'>
  <div class='row'>
  </div> <!--row-->
  <div class='row'>
    <h4>Sightings</h4>
  </div> <!--row-->
  <div class='row'>
    <table class="table table-hover">
      <thead>
        <tr>
          <td><strong>Date</strong></td>
          <td><strong>Latitude</strong></td>
          <td><strong>Longitude</strong></td>
        </tr>
      </thead>
      <tbody>
        <% @sightings.sort.each do |sighting| %>
          <tr>
            <td><%= sighting.date %></td>
            <td><%= sighting.latitude %></td>
            <td><%= sighting.longitude %></td>
            <td>
              <form action="/sightings/<%= sighting.id %>/" method="post">
                <input name="_method" type="hidden" value="delete">
                <button class="btn btn-danger btn-xs">Delete Sighting</button>
              </form>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <table class='table'>
        <form action="/species/<%= @species.id %>/sightings" method="post">
          <label>New Sighting</label>
          <td><input class="form-control" id="new_sighting_date" name="date" placeholder="Date" type="text"></td>
          <td><input class="form-control" id="new_sighting_lat" name="lat" placeholder="Latitude" type="text"></td>
          <td><input class="form-control" id="new_sighting_long" name="long" placeholder="Longitude" type="text"></td>
          <td><button class='btn btn-success'>Add</button></td>
        </form>
      </table>



  </div> <!--row-->
  </div> <!--col md6 left-->
  <div class='col-md-6'>
  </div><!--col md6 right-->
</div> <!--container-->

